
.content{
    padding: 2rem 0;
    background-color: #ffffff;
    position: relative;


    &__heading-1{
        margin-bottom: 2rem;
        line-height: 2.6rem;
    }

    &__text{
        max-width: 100%;
        color: $primary-text-color;
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-family: $font-heading;
        font-weight: 500;
        
    }

}

@media(min-width: 375px){
        .content{
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        
      }