.footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button{
    background-color: $primary-background_color;
    border-radius: 50%;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    
  }
  

  .profile {
    width: 100%;
    display: flex;
    align-items: center;

    .profile__content {
      h1 {
        font-family: $font-heading;
        font-weight: 500;
        font-size: 1.4rem;
        color: $secondary-text-color;
        font-weight: 700;
      }
      .date {
        color: $primary-background_color;
        font-size: 1.4rem;
      }
    }
  }
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

@media (min-width: 375px) {
  .footer {
    justify-content: flex-end;
  }
}
