.image{
    max-width: 375px;
    height: auto;
    object-fit: cover;
}

@media(min-width: 375px){
.image-container{
    width: 35%;
    .image{
        
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

}
    
  }