%heading {
    font-family: $font-heading;
    font-weight: 700;
}

.content__heading-1{
    @extend %heading;
    font-size: 2rem;
    color: $secondary-text-color;
    font-family: $font-heading;
    font-weight: 700;
}

